div(ng-include='"components/navbar/navbar.html"')

block content

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='http://adamgillfillan.com') adamgillfillan.com
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues