extends ../layout

block content
  header#banner.hero-unit
    .container
      h1 Bon Appétit!
      p.lead Cook anything with your personal CookingBuddy
      img(src='assets/images/yeoman.png', alt="I'm Yeoman")
  .container
    .row
      .col-xs-12
        h1.page-header Recipes:
          span.small
            form.form-inline.pull-right
              input(ng-model='query', type='text', placeholder='Search', autofocus='')
        .row
          .col-sm-4.col-md-4.col-lg-4
            ul.nav.nav-tabs.nav-stacked
              li(ng-repeat="recipe in recipeService.allRecipes | limitTo : recipeService.allRecipes.length/3 | filter:query | orderBy: 'name'")
                a(href='', tooltip='{{recipe.name}}', ng-click='viewRecipe(recipe)') {{recipe.name}}
                img.img-rounded.img-responsive(ng-src='{{ recipe.image }}', ng-click='viewRecipe(recipe)')
          .col-sm-4.col-md-4.col-lg-4
            ul.nav.nav-tabs.nav-stacked
              li(ng-repeat="recipe in recipeService.allRecipes | limitTo : (recipeService.allRecipes.length/3) : recipeService.allRecipes.length/3 | filter:query | orderBy: 'name'")
                a(href='', tooltip='{{recipe.name}}', ng-click='viewRecipe(recipe)') {{recipe.name}}
                img.img-rounded.img-responsive(ng-src='{{ recipe.image }}', ng-click='viewRecipe(recipe)')
          .col-sm-4.col-md-4.col-lg-4
            ul.nav.nav-tabs.nav-stacked
              li(ng-repeat="recipe in recipeService.allRecipes | limitTo : (recipeService.allRecipes.length/3) : (recipeService.allRecipes.length/3)*2 | filter:query | orderBy: 'name'")
                a(href='', tooltip='{{recipe.name}}', ng-click='viewRecipe(recipe)') {{recipe.name}}
                img.img-rounded.img-responsive(ng-src='{{ recipe.image }}', ng-click='viewRecipe(recipe)')
