extends ../layout

block content
  header#banner.hero-unit
    .container
      h1 Bon Appétit!
      p.lead Cook anything with your personal CookingBuddy
      img(src='assets/images/yeoman.png', alt="I'm Yeoman")
  .container
    .row
      .col-lg-12
        h1.page-header My Recipes:
          span.small
            form.form-inline.pull-right
              input(ng-model='query', type='text', placeholder='Search', autofocus='')
        .row
          .col-sm-6.col-md-6.col-lg-6
            ul.nav.nav-tabs.nav-stacked
              li(ng-repeat="recipe in recipeService.allRecipes | filter:query | orderBy: 'name' | userRecipes")
                a(href='', tooltip='{{recipe.name}}', ng-click='viewRecipe(recipe)') {{recipe.name}}
                img.img-responsive(ng-src='{{ recipe.image }}', ng-click='viewRecipe(recipe)')
                //button.btn.btn-primary(type='submit', ng-click='deleteRecipe(recipe)') Delete
                button.btn.btn-danger.btn-sm(type='submit', ng-click='deleteRecipe(recipe)')
                  span.glyphicon.glyphicon-remove
                  |  Delete
                button.btn.btn-warning.btn-sm(type='submit', ng-click='updateRecipe(recipe)')
                  span.glyphicon.glyphicon-remove
                  |  Update
