extends ../layout

block content
  .container
    //.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    //  .modal-dialog.modal-sm
    //    .modal-content
    //      | Modal Content
    h1.page-header {{ recipeService.currRecipe.name }}
    .row
      .col-xs-12.col-sm-5.col-md-4
        img#img1.img-responsive(ng-src='{{recipeService.currRecipe.image}}')
        h4.alert.alert-info
          strong Ingredients
        h5
          // <ul id="ingredients_list" ng-repeat="ingredient in recipeService.currRecipe.ingredients">
          ul(ng-repeat='ingredient in recipeService.currRecipe.ingredients')
            li {{ ingredient }}

        span.label.label-success Created by: {{ recipeService.currRecipe.creator.name }}
      .col-xs-12.col-sm-7.col-md-8
        #results(ng-controller='DictionCtrl as diction')
          h3.alert.alert-info
            strong Steps
          h4
            ol
              li(id='steps_list{{$index}}', ng-repeat='step in recipeService.currRecipe.steps') {{ step }}
          button#start_button.btn.btn-primary(type='button', my-dialog='') Begin
          //&nbsp;&nbsp;&nbsp;
          //button.btn.btn-info(type='button', data-toggle='modal', data-target='.bs-example-modal-sm') Tips
          div(ng-controller='ViewCtrl')
            script(type='text/ng-template', id='myModalContent.html').
              <div class="modal-header">
              <h4 class="modal-title">CookingBuddy Commands!</h4>
              </div>
              <div class="modal-body">
              <ul>
              <li ng-repeat="item in items">{{ item }}</li>
              </ul>
              </div>
              <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            button.btn.btn-default(ng-click="open('sm')") Small modal
            //div(ng-show='selected') Selection from a modal: {{ selected }}
