extends ../layout

block content
  .container
    h1.page-header {{ recipeService.currRecipe.name }}
    .row
      .col-xs-12.col-sm-5.col-md-4
        img#img1.img-responsive(ng-src='{{recipeService.currRecipe.image}}')
        h4.alert.alert-info
          strong Ingredients
        h5
          // <ul id="ingredients_list" ng-repeat="ingredient in recipeService.currRecipe.ingredients">
          ul(ng-repeat='ingredient in recipeService.currRecipe.ingredients')
            li {{ ingredient }}
      .col-xs-12.col-sm-7.col-md-8
        #results(ng-controller='DictionCtrl as diction')
          h3.alert.alert-info
            strong Steps
          h4
            ol
              li(id='steps_list{{$index}}', ng-repeat='step in recipeService.currRecipe.steps') {{ step }}
          button#start_button.btn.btn-primary(type='button', my-dialog='') Begin
          &nbsp;&nbsp;&nbsp;
          button.btn.btn-info(type='button') Tips
